
div.container{
  width: 1200px;
	height:3000px;
	margin:0px auto ;
}
.container .card_header{
	width: 1200px;
	height: 800px;
}
.container img{
	width:250px ;
	height:250px;	
	float:left ;
	margin-top: -50px;
}
.card_header ul{
	float: left;
	list-style-type: none;
	margin-left:90px ;
	font-weight: bold;
	margin-top:-200px;
}
.card_header ul li{
	float: left;
	font-family:Garamond;
	font-size: 18px;
	margin-left:120px;
	margin-top:30px;
	color:#000;
}
.card_header a{
	float: left;
}
.btn{
	margin-top: 20px;
	margin-left: 50px;
	font-family:Garamond;
}
.body h1{
	font-family:Papyrus ;
	font-size:50px;
	color::#3B2F2F;
	text-align: center;
	margin-left:30px;
	margin-top: 50px;	
}
 .card_header ul li:hover{
	cursor:pointer ;
	transition: _7s;
	color: #fff;
}
.bg_container{
	 background-image: url('img/Bgimage.jpg');
	 background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   width: 1200px;
	 height: 500px;
}
.row {
	width:1200px;
	height: 600px;
	margin-top:100px;
	margin-left:50px;
}
.row .row2{
	width: 500px;
	height: 600px;
	float: left;
	margin-left: 30px;
}
.row .row2 img{
	width: 500px;
	height: 600px;
	margin-top: 10px;
}
.row .row2 p{
	font-size: 15px;
	font-family:Monaco ;
	color:  #000;
	line-height: 40px;
	text-align: justify;
	margin-top: 50px;
	font-weight: bold;
}
.row .row2 h2{
	font-size: 40px;
	font-family:Garamond;
	color:#473810;
	margin-top:30px;
	margin-top:50px;
}
.row .row2 .btn{
	margin-left:180px;
	margin-top: -20px;
	font-family::Garamond ;

}
.foot {
	 background-image: url('img/M.jpg');
	 background-repeat: no-repeat;
   background-size: cover;
   width: 1200px;
	 height: 500px;
	 margin-top:100px;
}
.foot .foot2{
	width: 500px;
	height: 500px;
	float: left;
	margin-left: 30px;
}
.foot .foot2 h3{
	font-size: 30px;
	font-family:Courier New;
	color:#3B2F2F;;
	margin-top:40px;
	line-height:70px;
	margin-left:50px;
}
.foot .foot2 p{
	font-size: 15px;
	font-family:Courier New ;
	color:  #000;
	line-height: 30px;
	text-align: justify;
	margin-top: 30px;
	font-weight: bold;
	margin-left:70px;
}

.card_container{
	margin-top:90px;
	width: 1200px;
	height: 600px;
	margin-top: 90px;
	margin-left: -50px;
}

.card_container .card{
	width: 300px;
	height:300px;
	float: left;
	margin-left: 100px;
	margin-top: 90px;
}	
.card_container .card img{
	width: 300px;
	height:600px;
}
.card_container .card h2{
	font-size: 15px;
	font-family:Georgia;
	color:#2F0909;
	text-align: center;
	margin-top: 50px;
}
.card_container .card .btn{
	margin-left: 90px;
	font-family:Georgia;
}

.footer-distributed{
  background:#000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: -400px;
  height: 400px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}


.footer-distributed .footer-left{
  width: 40%;
}

.footer-distributed h3{
 	font-size: 30px;
	font-family:Lucida Handwriting;
	color:#fff;
	margin-top:-20px;
	font-weight: bold;
	margin-top:40px;
}

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
}

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:#000;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:#fff;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}
.footer-company-name{
	color: #fff;
}
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons img{
  margin-top: 25px;
  height: 30px;
  width: 30px;

}





